/.pnp
.pnp.js

/coverage
/build

.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.idea
config.json

logs
*.log
firebase-debug.log*
firebase-debug.*.log*

.firebase/
build/

pids
*.pid
*.seed
*.pid.lock

lib-cov

data

coverage

.nyc_output

.grunt

bower_components

.lock-wscript

node_modules/

.npm

.eslintcache

.node_repl_history

*.tgz

.yarn-integrity

service_account_google.json
menu-list.json

package-lock.json